* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Plus Jakarta Sans', sans-serif;

  main {
    background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  }

  @media (min-width: 768px) {
    main {
      width: 100%;
    }
  }
}
