section.banner {
  article {
    padding: 0 20px;

    h1 {
      font-weight: 800;
      font-size: 40px;
      line-height: 50px;
      color: #13183f;
      margin-bottom: 20px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: #83869a;
      margin-bottom: 20px;
    }

    a {
      display: inline-block;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      text-decoration: none;
      color: #fff;
      background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
      border-radius: 31px;
      padding: 10px 20px;
      margin-bottom: 20px;

      &:hover {
        background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
          ),
          linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
      }
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 800px;

    article {
      width: 457px;
      padding: 0;

      h1 {
        font-size: 56px;
        line-height: 70px;
      }
    }
  }
}
